package templates

import "seesharpsi/kritui/llm"

templ Message(role string, content string) {
	@Messages(llm.Message{Role: role, Content: content})
}

templ Messages(messages ...llm.Message) {
	for _, message := range messages {
		<article class={ "message", templ.KV("user", message.Role == "user") }>
			<strong>{ message.Role }</strong>
			<div>{ message.Content }</div>
		</article>
	}
}
